.nav-height-thinnest {
  height: 30px;
}

.nav-height-thin {
  height: 40px;
}

.nav-height-shortest {
  height: 60px;
}

.nav-height-short {
  height: 70px;
}

.nav-height-medium {
  height: 80px;
}

.nav-height-tall {
  height: 90px;
}

.nav-height-tallest {
  height: 100px;
}
