.nav-height-thinnest {
  --nav-height: 30px;
  height: 30px;
}

.nav-height-thin {
  --nav-height: 40px;
  height: 40px;
}

.nav-height-shortest {
  --nav-height: 60px;
  height: 60px;
}

.nav-height-short {
  --nav-height: 70px;
  height: 70px;
}

.nav-height-medium {
  --nav-height: 80px;
  height: 80px;
}

.nav-height-tall {
  --nav-height: 90px;
  height: 90px;
}

.nav-height-tallest {
  --nav-height: 100px;
  height: 100px;
}
